@model IEnumerable<Wills.Models.FullWill>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PrimaryClientName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrimaryClientSurname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrimaryClientIDNumber)
        </th>        
        <th>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PrimaryClientName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrimaryClientSurname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrimaryClientIDNumber)
        </td>        
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUser.Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.WillID }) |
            @Html.ActionLink("Details", "Details", new { id=item.WillID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.WillID })
        </td>
    </tr>
}

</table>
